@charset "utf-8";

.wrapper {
  position: absolute ;
  width : 100vw ;
  height: 100vh ;
  top : 0 ;
  left: 0 ;
  display: flex ;
  align-items: center ;
  justify-content: center ;
  background-color: #0062E6;
  flex-direction: column ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}

.msg {
  color: #FFF ;
  margin-bottom: 6.5rem ;
  text-align: center ;
  font-size: 2rem ;
  letter-spacing: 5px ;
}

.box {
  display: block ;
  background-color: #33AEFF;
  color: #0062E6 ;
  font-size: 1.1rem ;
  width: 100% ;
  line-height: 2rem ;
  height: 2rem ;
  letter-spacing: 2px ;
  border-radius: 5px;
}

olaf-slider {
  transform: scale(2);
}

button{
  transform: scale(1);
}

.toggled{
  margin: 50px;
  background:green;
}
.untoggled{
  margin:50px;
  background:red;
}
